@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0A1F44;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #facc15;
}

html,
body {
  overflow-x: hidden;
}